# requirements.txt for fuckit-bucket.com
distribute
https://www.djangoproject.com/download/1.7c2/tarball/
BeautifulSoup4
Pygments
django-flatpages-tinymce
django-tinymce
django_compressor
django-registration
django-profiles
django-localflavor
django-dajax
django-dajaxice
django-session-security
django-debug-toolbar
selenium