# requirements.txt for fiblist, eg fuckit-bucket.com
distribute
https://www.djangoproject.com/download/1.7c2/tarball/
BeautifulSoup4
django_compressor
django-localflavor
django-session-security
django-debug-toolbar
selenium